POSTGRES_DB=procurement
POSTGRES_USER=app
POSTGRES_PASSWORD=app

RABBITMQ_DEFAULT_USER=app
RABBITMQ_DEFAULT_PASS=app

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_BUCKET=scraper-artifacts
